<% comments.each do |comment| %>
  <% binding.pry %>
  <div class="comment_by">
    <div class="comment_name"> Posted by: <%= comment.user.name %></div> <%= profile_picture_or_default(comment.user) %>
  </div>
  <div class="comment_row">
    <%= comment.message %>
  </div>
<% end %>