<div class="nav-bar">
  <div class="logo">FlavorOfTheWeek</div>
  <div class="nav-search"><%= render partial: 'shared/song_form', locals: {post: Post.new} %></div>
  <div class="navlinks">
    <ul>
      <li>Profile</li>
      <li>Users</li>
      <li><%= link_to 'Feed', posts_path %></li>
    </ul>
  </div>
</div>