<div class="nav-bar">
  <div class="logo">FlavorOfTheWeek</div>
  <div class="navlinks">
    <ul>
      <li>Profile</li>
      <li>Search</li>
      <li>Feed</li>
      <li>Home</li>
    </ul>
  </div>
</div>