 <div class="profile_container">
      <div class="profile_picture">
        <%= profile_picture_or_default(current_user) %>
        <div class="greeting">Welcome <%= current_user.name %>, What are you listening to?</div>
      </div>
    </div>
 <div id="songpartial">
    <%= render partial: "songs", collection: @posts.order(created_at: :desc), :as => :post %>
 </div>