<div class="grid">
  <%= render partial: 'navigation' %>


  <div class="songs" >
    <%= render partial: 'songs', locals: {songs: Song.all} %>
  </div>

</div>

<script>
    function play(song_id) {
        var song=document.getElementById(song_id);
        song.muted = false;
        song.play();
    }
    function stop_playing(song_id) {
        var song=document.getElementById(song_id);
        song.pause();
        song.currentTime = 0;
    }
</script>
