<div class="grid">
  <div class="nav-bar">
    <div class="logo">FlavorOfTheWeek</div>
    <div class="navlinks">
      <ul>
        <li>Profile</li>
        <li>Search</li>
        <li>Feed</li>
        <li>Home</li>
      </ul>
    </div>
  </div>

  <div class="songs" >
    <%= render partial: 'songs', locals: {songs: Song.all} %>
  </div>

</div>

<script>
    function play(song_id) {
        var song=document.getElementById(song_id);
        song.play();
    }
    function stop_playing(song_id) {
        var song=document.getElementById(song_id);
        song.pause();
        song.currentTime = 0;
    }
</script>
